Repository super-linter/super-linter, pull requests merged in 2021-02, with the labels that each got.

#1022 Move FILTER_REGEX_INCLUDE and FILTER_REGEX_EXCLUDE test
  lib/functions/buildFileList.sh
  lib/functions/worker.sh
Labels: enhancement

#1212 Update snakefmt to 0.3.0 and black to 20.3 (now supported by snakefmt).
  .automation/test/ansible/reports/expected-ANSIBLE.tap
  .automation/test/go/reports/expected-GO.tap
  .automation/test/jscpd/reports/expected-JSCPD.tap
  .automation/test/json/reports/expected-JSON.tap
  .automation/test/r/reports/expected-R.tap
  .github/linters/.ansible-lint.yml
  Dockerfile
  TEMPLATES/.ansible-lint.yml
  dependencies/Pipfile
  dependencies/Pipfile.lock
  lib/functions/tapLibrary.sh
Labels: breaking, dependencies

#1222 Automerge
  .github/workflows/HOLDING/automerge-dependabot.yml.hold
  .github/workflows/HOLDING/draft-release.yml.hold
Labels: automation

#1209 Add trivy scans for container security
  .automation/trivy-security-scan.sh
  .github/workflows/trivy.yml
  dependencies/package-lock.json
  dependencies/package.json
Labels: automation

#1185 Ignore files that are ignored by Git
  README.md
  lib/functions/buildFileList.sh
  lib/functions/validation.sh
  lib/linter.sh
Labels: enhancement

#1260 Adding release process
  .automation/update-actions-version.sh
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/CREATE_RELEASE.md
  .github/workflows/deploy-RELEASE.yml
  dependencies/package-lock.json
  dependencies/package.json
Labels: automation, enhancement, github_actions

#1259 Add logic to check command output before maping the files
  lib/functions/buildFileList.sh
Labels: bug

#1272 adding sha info
  .automation/update-actions-version.sh
  .github/workflows/deploy-RELEASE.yml
Labels: automation
