Repository super-linter/super-linter, pull requests merged in 2021-04, with the labels that each got.

#1455 Reinstate Trivy with no blocks for vulnerabilities found
  .github/workflows/trivy.yml
  Dockerfile
Labels: automation

#1353 Generate a code coverage report
  .automation/test/arm/reports/expected-ARM.tap
  .automation/test/go/reports/expected-GO-4.tap
  .github/workflows/deploy-DEV.yml
  .gitignore
  Makefile
  README.md
  lib/functions/buildFileList.sh
  test/runTests.sh
Labels: automation, enhancement, report

#1461 multistage build changes
  .automation/test/arm/reports/expected-ARM-2.tap
  .gitignore
  Dockerfile
Labels: automation, dependencies, docker

#1470 Certs
  Dockerfile
  README.md
  lib/functions/updateSSL.sh
  lib/linter.sh
Labels: automation, documentation, enhancement

#1488 pull rust in
  Dockerfile
Labels: docker

#1489 pull in ms
  Dockerfile
Labels: docker

#1466 Implement a test suite with InSpec
  Makefile
  lib/functions/linterVersions.sh
  lib/linter.sh
  test/inspec/inspec.lock
  test/inspec/super-linter/controls/super_linter.rb
  test/inspec/super-linter/inspec.lock
  test/inspec/super-linter/inspec.yml
Labels: automation, enhancement, infrastructure
